    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Tiệm giày cũ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shopping-cart">Giỏ hàng</a>
                </li>
            </ul>

            <form action="/" method="get" class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input name="keyword" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <a class="btn btn-success btn-sm ml-3" href="/shopping-cart">
                    <i class="fa fa-shopping-cart"></i> Giỏ hàng
                    <span class="badge badge-light" th:text="${quantity_cart}"></span>
                </a>
            </form>
        </div>
    </div>
</nav>


<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Tiệm giày cũ chính hãng</h1>
        <p class="lead text-muted mb-0" th:text="${(search_word != null && search_word != '')} ? 'Kết quả tìm kiếm của ' + ${search_word} : 'Tất cả sản phẩm'"></p>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Hãng</div>
                <div class="list-group category_block">
                    <a th:href="@{'/?brandId=' + ${brand.getId()}}" th:each="brand : ${brands}" th:text="${brand.getName()}" class="list-group-item brand-item"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">

                <div th:each="product : ${products}" class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" th:src="@{'img/' + ${product.getImage()}}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title text-dark" th:text="${product.getName()}" th:title="${product.getName()}"></h4>
                            <p th:text="'COLOR: ' + ${product.getColor().toUpperCase()}" th:style="'color:' + ${product.getColor()}" class="card-text"></p>
                            <b th:text="'SIZE: ' + ${product.getSize()}" class="card-text"></b>
                            <div class="row">
                                <div class="col">
                                    <p th:text="${product.getPrice()} + ' VND'" class="btn btn-danger btn-block"></p>
                                </div>
                                <div class="col">
                                    <a th:href="@{'/shopping-cart/add/' + ${product.getId()}}" class="btn btn-success btn-block">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script>
    const brandItems = document.querySelectorAll('.brand-item');

    brandItems.forEach(item => {
        item.addEventListener('mouseenter', () => {
            item.classList.add('bg-primary', 'text-white');
        });

        item.addEventListener('mouseleave', () => {
            item.classList.remove('bg-primary', 'text-white');
        });
    });
</script>

</body>
</html>