<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" th:href="@{/checkout.css}">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Tiệm giày cũ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shopping-cart">Giỏ hàng</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary btn-number">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <a class="btn btn-success btn-sm ml-3" href="/shopping-cart">
          <i class="fa fa-shopping-cart"></i> Giỏ hàng
          <span class="badge badge-light" th:text="${quantity_cart}"></span>
        </a>
      </form>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="h5 large text-success">Thanh toán thành công</div>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1">
      <div class="mobile h5">Thông tin hóa đơn</div>
      <div id="details" class="bg-white rounded pb-5">
        <h3 class="col d-flex justify-content-center">Thông tin hóa đơn</h3>
        <div class="form-group">
          <p class="text-muted">Họ và tên <b class="h5" th:text="${orderInfoDTO.getFullName()}"></b></p>
        </div>
        <div class="form-group">
          <label class="text-muted">Email <b class="h5" th:text="${orderInfoDTO.getEmail()}"></b></label>
        </div>
        <div class="form-group">
          <label class="text-muted">Số điện thoại <b class="h5" th:text="${orderInfoDTO.getPhoneNumber()}"></b></label>
        </div>
        <div class="form-group">
          <label class="text-muted">Địa chỉ <b class="h5" th:text="${orderInfoDTO.getAddress()}"></b></label>
        </div>
        <a class="btn btn-sm bg-light border border-dark" href="/">Về trang chủ</a>
      </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1 pt-lg-0 pt-3">
      <div id="cart" class="bg-white rounded">
        <div class="d-flex justify-content-between align-items-center">
          <div class="h6">Sản phẩm đã đặt</div>
        </div>

        <div th:each="cart_product : ${cart_products}" class="d-flex jusitfy-content-between align-items-center pt-3 pb-2 border-bottom">
          <div class="item pr-2"> <img th:src="@{'img/' + ${cart_product.getProductDTO().getImage()}}" alt="" width="80" height="80">
            <div class="number" th:text="${cart_product.getQuantity()}"></div>
          </div>
          <div class="d-flex flex-column px-3"> <b class="h5" th:text="${cart_product.getProductDTO().getName()}"></b> <a href="#" class="h5 text-primary" th:text="'SIZE: ' + ${cart_product.getProductDTO().getSize()}"></a> </div>
          <div class="ml-auto"> <b class="h5" th:text="'GIÁ: ' + ${cart_product.getProductDTO().getPrice() * cart_product.getQuantity()}"></b> </div>
        </div>

        <div class="d-flex align-items-center py-2">
          <div class="display-5">Tổng tiền</div>
          <div class="ml-auto d-flex">
            <div class="text-primary text-uppercase px-3">VND</div>
            <div class="font-weight-bold" th:text="${total}"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
</body>
</html>